@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <p style="color: red; font-size: 20px">Green beans</p>
    </div>
</body>
</html>
